Email Digest.json
{
  "name": "Email Digest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "0419e477-7b80-4d1c-ac1f-c3add57b23f9",
      "name": "When Executed by Another Workflow",
      "executeOnce": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HVfqX2GavjYvbNgpxOIRB4_Lkw5m44QCr4wlkG02mRM",
          "mode": "list",
          "cachedResultName": "n8n Demo Master Discount Data Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HVfqX2GavjYvbNgpxOIRB4_Lkw5m44QCr4wlkG02mRM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 785510455,
          "mode": "list",
          "cachedResultName": "Coupons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HVfqX2GavjYvbNgpxOIRB4_Lkw5m44QCr4wlkG02mRM/edit#gid=785510455"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "db42938e-58b1-46f0-920f-edd5726e0882",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "joX5siOfEeRbjUnL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst today = new Date().toISOString().split('T')[0];\nconst allItems = $input.all();\n\nconst todaysCoupons = allItems.filter(item => {\n  const createdAt = item.json.CreatedAt || '';\n  return createdAt.startsWith(today);\n});\n\nconst totalIssued = todaysCoupons.length;\nconst totalExpired = todaysCoupons.filter(i => i.json.Status === 'EXPIRED').length;\nconst totalActive = todaysCoupons.filter(i => i.json.Status === 'ACTIVE').length;\n\nconst tableRows = todaysCoupons.map(i => {\n  const c = i.json;\n  const statusColor = c.Status === 'EXPIRED' ? '#e94560' : '#2ecc71';\n  return `\n    <tr style=\"border-bottom:1px solid rgba(255,255,255,0.08)\">\n      <td style=\"padding:8px 6px;font-family:monospace;color:#e94560\">${c.CouponCode || '-'}</td>\n      <td style=\"padding:8px 6px\">${c.UserName || '-'}</td>\n      <td style=\"padding:8px 6px\">${c.UserEmail || '-'}</td>\n      <td style=\"padding:8px 6px;text-align:center\">${c.DiscountPercent || '-'}%</td>\n      <td style=\"padding:8px 6px;text-align:center\"><span style=\"color:${statusColor};font-weight:bold\">${c.Status || '-'}</span></td>\n      <td style=\"padding:8px 6px;font-size:12px;color:#aaa\">${c.ExpiresAt || '-'}</td>\n    </tr>`;\n}).join('');\n\nconst tableHtml = totalIssued > 0 ? `\n<table style=\"width:100%;border-collapse:collapse;font-size:13px\">\n  <thead>\n    <tr style=\"border-bottom:2px solid rgba(255,255,255,0.2)\">\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Code</th>\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Name</th>\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Email</th>\n      <th style=\"padding:8px 6px;text-align:center;color:#aaa;font-weight:normal\">Disc.</th>\n      <th style=\"padding:8px 6px;text-align:center;color:#aaa;font-weight:normal\">Status</th>\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Expires</th>\n    </tr>\n  </thead>\n  <tbody>${tableRows}</tbody>\n</table>` : '<p style=\"color:#aaa;text-align:center\">No coupons issued today.</p>';\n\nreturn [{\n  json: {\n    today,\n    totalIssued,\n    totalExpired,\n    totalActive,\n    tableHtml,\n    summaryLine: `${totalIssued} issued, ${totalExpired} expired, ${totalActive} still active`\n  }\n}];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "a1800b88-9216-499c-b573-31cc71b9a163",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "shiva.ds973@gmail.com",
        "subject": "=📊 Daily Coupon Digest — {{ $json.today }} \n {{ $json.summaryLine }}",
        "message": "=<!DOCTYPE html> <html> <body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px;background:#f5f5f5\">   <div style=\"background:#1a1a2e;color:#fff;padding:30px;border-radius:12px\">     <h2 style=\"color:#e94560;text-align:center;margin-top:0\">📊 Daily Coupon Campaign Digest</h2>     <p style=\"color:#aaa;text-align:center;font-size:14px;margin-bottom:24px\">{{ $json.today }}</p>     <div style=\"display:flex;gap:12px;margin-bottom:24px\">       <div style=\"flex:1;background:rgba(255,255,255,0.08);border-radius:8px;padding:16px;text-align:center\">         <p style=\"font-size:28px;font-weight:bold;margin:0;color:#fff\">{{ $json.totalIssued }}</p>         <p style=\"font-size:12px;color:#aaa;margin:4px 0 0;text-transform:uppercase;letter-spacing:1px\">Issued</p>       </div>       <div style=\"flex:1;background:rgba(255,255,255,0.08);border-radius:8px;padding:16px;text-align:center\">         <p style=\"font-size:28px;font-weight:bold;margin:0;color:#e94560\">{{ $json.totalExpired }}</p>         <p style=\"font-size:12px;color:#aaa;margin:4px 0 0;text-transform:uppercase;letter-spacing:1px\">Expired</p>       </div>       <div style=\"flex:1;background:rgba(255,255,255,0.08);border-radius:8px;padding:16px;text-align:center\">         <p style=\"font-size:28px;font-weight:bold;margin:0;color:#2ecc71\">{{ $json.totalActive }}</p>         <p style=\"font-size:12px;color:#aaa;margin:4px 0 0;text-transform:uppercase;letter-spacing:1px\">Active</p>       </div>     </div>     {{ $json.tableHtml }}     <p style=\"color:#555;font-size:12px;text-align:center;margin-top:24px;border-top:1px solid rgba(255,255,255,0.1);padding-top:16px\">       Redemption status is not tracked automatically — <a href=\"https://docs.google.com/spreadsheets/d/1w_yUzZcabSrmjzVt1gUWXBOsFNtTZIlcXbl3TtwJjWM\" style=\"color:#e94560\">check the sheet</a> for manual updates.     </p>   </div> </body> </html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        688,
        0
      ],
      "id": "b1eefc7e-ebf9-4533-86cb-d3647bf287f6",
      "name": "Send a message",
      "webhookId": "bb41fc74-10be-4a06-832b-b8be20e6eac8",
      "credentials": {
        "gmailOAuth2": {
          "id": "St9q3rHOk7b9FhsV",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c1d05dae-60af-4fb0-a9a6-fd3604f41c66",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2462ac5dcb10ac6c2c1d09f4c3e5d7ed0d8cd42f6a4c54434e9dcd67da9bdd54"
  },
  "id": "IvSANgeah6X38TwI",
  "tags": []
}